OUTPUT_FOLDER = '/videos/rips' # Path where the ripped videos will be stored temporarily
VIDEO_FORMAT = 'MKV' # Format for the ripped videos (e.g., MKV, MP4)
SHOWS_FINAL_PATH = '/media/shows' # Final destination for TV shows after compression
MOVIES_FINAL_PATH = '/media/movies' # Final destination for movies after compression